@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

/* MONTSERRAT */
@font-face {
	font-family: "Montserrat";
	src: url('Montserrat-Regular.ttf');
}
/* LEMON/MILK */
@font-face {
	font-family: "Lemon";
	src: url('LemonMilk.otf');
}

a:hover{
    text-decoration: none;
}
html, body {
    height: 100%;
    margin:0;
    padding: 0;
}
input:focus{
    outline:none;
    outline-color:transparent;
}

/****** BODY ******/

html{
    background: url(../upload/bg-vitrine2.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{ 
    font: 24px/36px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:transparent;
    color:white;
}

.container-fluid{
    padding:0px;
}


/* Navigateur Mobile */


/****** LEFT - PART *****/
.tel-presentation{
    height:100%;
    padding:0px;
}

.header-wrapper{
    height:80%;
}
.header-wrapper h3 {
    text-align: center;
    font-size:0.8em;
    font-family: "Montserrat";
}
/****** GRAPHIQUE ******/
#chart {
    height:100%;
    width:80%;
    margin:auto;
    padding-left:10%;
}
#bars {
    background-image: url(../upload/tel-accueil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    display: inline-block;
    width:200px;
    height:100%;
    margin:auto;
    padding: 270px 20px;
}

/* Propriété de chaque bar */
#bars li {
    display: table-cell;
    width: 330px;
    height:145px;
    margin: 0px;
    padding:0px;
    text-align: center;
    position: relative;
}

.bar {
    display: block;
    width: 100%;
    background: #49E;
    position: absolute;
    bottom: 0;
    border-radius: 2px 2px 0px 0px ;
}

.bar:hover,.bar:active {
      opacity: 0.7;
      cursor: pointer;
}

.bar:before {
    content: attr(data-infos);
    font-family: 'Montserrat', sans-serif;
    position:relative;
    bottom:-5px;
    color:white;
    font-size:1em;
    margin-top:100px;
}

#bars span{
    color: #ffffff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size:0.25em;
    position: absolute;
    bottom: 1em;
    left: 0;
    line-height: 1em;
    text-align: center;
}

/**********************/
.contentRebours{
    margin:auto;
    height:100px;
    width:100%;
    padding:0px;
}
.bloc{
    padding: 0px;    
}

#days{
    background-image: url(../upload/cptRebours/mesDispos.svg);
    background-repeat: no-repeat;
    background-position: top;
}
#hours{
    background-image: url('../upload/cptRebours/personnesDispos.svg');
    background-repeat: no-repeat;
    background-position: top;
}
#minutes{
    background-image: url('../upload/cptRebours/evenements.svg');
    background-repeat: no-repeat;
    background-position: top;
}
#seconds{
    background-image: url('../upload/cptRebours/rejoignezNous.svg');
    background-repeat: no-repeat;
    background-position: top;
}

#days, #hours, #minutes, #seconds{
    background-size:50px;
    color:#000000;
    font-family: "Montserrat";
    font-size:0.7em;
    padding-top:15px;
    text-align:center;
}
.zero{
    font-size:1.5em;
    padding-top:5px;
}
.bloc span{
    font-size:0.6em;
    line-height: 3em;
    text-align: center;
    color:#ffffff;
}

.secondes{
   text-align:center;
}




/***** RIGHT - PART****/
.activites{
    padding:0px;
    height:100%;
}

/**** Activités ****/
.activites h4{
    text-transform: uppercase;
    text-align: center;
    font-family: "Montserrat";
    margin-top:50px;
}
.activites p{
    text-align:center;
}
.activites img{
    margin-top:25px;
    height:120px;
    margin-bottom: 20px;
}

.activites h3{
    font-size:0.8em;
    text-align:center;
}
/******************/
.contact{
    margin-top:15px;
}
.contact img{
    height:60px;
    width:60px;
    margin:auto;
}

.contact img:hover{
    height:70px;
    width:70px;
}
.facebook img{
    margin-left: 60%;
}
.contact p{
    font-family: "Montserrat";
    color:#ffffff;
}

.contactmail {
    font-family:'Montserrat';
    color:#FFFFFF;
}


.flat-form{
    margin:auto;
    width:100%;
    height:35px;
    padding-left: 10px;
    border:2px solid #cccccc;
    -webkit-box-shadow: inset 0 -1px #cccccc;
    box-shadow: inset 0 -2px #cccccc;
    border-radius: 5px 5px 5px 5px;
    color: #1b3242;
    text-align:left;
    font-family: "Montserrat";
    font-size:0.5em;
}

.flat-form-error{
    margin:auto;
    width:100%;
    height:35px;
    padding-left: 10px;
    border:2px solid #E74C3C;
    -webkit-box-shadow: inset 0 -1px #963025;
    box-shadow: inset 0 -2px #963025;
    border-radius: 5px 5px 5px 5px;
    color: #1b3242;
    text-align:left;
    font-family: "Montserrat";
    font-size:0.5em;
}

.flat-form-good{
    margin:auto;
    width:100%;
    height:35px;
    padding-left: 10px;
    border:2px solid #56CE64;
    -webkit-box-shadow: inset 0 -1px #3b9145;
    box-shadow: inset 0 -2px #3b9145;
    border-radius: 5px 5px 5px 5px;
    color: #1b3242;
    text-align:left;
    font-family: "Montserrat";
    font-size:0.5em;
}

.form-chat p{
    font-size:0.5em;
    font-family: 'Montserrat';
    text-align:center;
}

.envoyerMessage-flat-button{
    height: 40px;
    width:80%;
    font-size: 1em;
    margin-top:10px;
    margin-left:10%;
    color: white;
    font-family: "Montserrat";
    text-align: center;
    background: #3fa9f5;
    border: 0;
    border-radius: 4px 4px 4px 4px;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}


.preinscription-flat-button{
    height: 40px;
    width:80%;
    font-size: 1em;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:10%;
    color: white;
    font-family: "Montserrat";
    text-align: center;
    background: #3fa9f5;
    border: 0;
    border-radius: 4px 4px 4px 4px;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}

.preinscription-flat-button:active,.envoyerMessage-flat-button:active{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#comingsoon{
    cursor: pointer;
}

#comingsoon:hover{
    color:#FFD700;
}

.footer{
    height:30%;
    width:100%;
    margin-top:300px;
    background-color:#121010;
    margin-bottom:0;
    position:relative;
}

.footer p {
    font-size:0.6em;
    text-align:center;
    padding-bottom:0px;
    margin-bottom:0px;
}


