@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);


/* LEMON/MILK */
@font-face {
	font-family: "Lemon";
	src: url('LemonMilk.otf');
}
a {
    color:black;
}
a:hover{
    text-decoration: none;
    color:black;
}
html, body {
    height: 100%;
    margin:0;
    padding: 0;
}
input:focus{
    outline:none;
    outline-color:transparent;
}
iframe{
    border-radius:4px;
    width:100%;
    height:400px;
}
/****** BODY ******/

html{
    /* 
    background: url(../upload/bg-vitrine2.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}
body{ 
    font: 24px/36px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:transparent;
    color:black;
}

.container-fluid{
    padding:0px;
    background: url(../images/phil-coffman-161251.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#gototheTop{
    cursor: pointer;
}
.logoHeader{
    padding-top:10px;
    padding-left:10%;
}

.logoHeader img{
    height:60px;
    cursor: pointer;
}

header{
    padding:0px;
    width:100%;
    height:70px;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    overflow: hidden;
}

.headerShadow{
      -moz-box-shadow: 0px 3px 4px 0px #656565;
-webkit-box-shadow: 0px 3px 4px 0px #656565;
-o-box-shadow: 0px 3px 4px 0px #656565;
box-shadow: 0px 3px 4px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}


.menuSection{
    width:70%;
    height:70px;
    display:inline-flex;
    list-style: none;
    float:right;
    padding-top:15px;
    margin-right:50px;
    flex-direction: row;
    justify-content: space-between;
    font-size:0.8em;
    font-family: 'Montserrat';
}

.menuSection a{
    color:white;
    font-weight: bold;
}


.menuDesktop{
    padding:0px;
    height:70px;
}




.introduction{
    height:100vh;
    padding-top:100px;
}

.introduction h3{
    text-align:center;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size:2em;
}

.introduction p{
    font-size:0.9em;
    line-height: 0.7em;
    font-family: 'Montserrat';
}
.intro_2 span,
.intro_4 span{
    font-size:0.4em;
}

.intro_1{
    margin-top:100px;
}

.intro_6,
.intro_5{
    margin-top:200px;
}


.section1{
    height:auto;
    background-color:#ffffff;
    padding-bottom:10px;
}

.titreSection1{
    width:80%;
    border-bottom:1px solid #333333;
    margin:auto;
}

.titreSection1 h2{
    text-align:center;
    font-family:'Pacifico';
}

.video{
    margin-top:20px;
    padding:0px;
    margin-left:15%;
    width:70%;
}
.video p{
    color:#333333;
    text-align:justify;
}

.titreVideo h3{
    font-family:'Montserrat';
    color:#333333;
    margin-top:0px;
}

.detailVideo p{
    font-size:0.7em;
    line-height: 1.5em;
    text-indent : 3em;
    font-family: 'Montserrat';
}

.section2{
    height:auto;
    background-color: #2ecc71 ;
    padding-bottom:20px;
    
}

.titreSection3{
    width:50%;
    border-bottom:1px solid #ffffff;
    margin:auto;
    color:white;
}

.titreSection3 h2{
    text-align:center;
    font-family:'Pacifico';
}



.section2 h1,p{
    text-align:center;
    color:#ffffff;
}

.logo_article{
    width:70%;
    margin-top:10px;
    margin-left:15%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nb_article h3{
    width:52%;
    margin:auto;
    text-align:center;
    color:#ffffff;
    margin-top:30px;
    margin-bottom:4px;
}



.logo_article img{
    margin-right:25px;
    opacity: 0.8;
}

.logo_article img:hover{
    opacity: 1;
}

.second_ligne{
    margin-top:20px;
    
}

.confTED p {
    text-align: left;
}



.section3{
background-color: #45aff5;
background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
    padding-bottom:50px;
}


.comment{
    margin-top:20px;
    padding:0px;
    margin-left:15%;
    width:70%;
}

.comment p{
    color:#ffffff;
    text-align:justify;
    font-size: 0.8em;
    text-indent: 4em;
}
.titreComment{
    border-bottom: 3px solid white;
}
.titreComment h3{
    font-family:'Montserrat';
    margin-top:10px;
    color:#ffffff;
    
}

.comment p>i>a{ 
    color:#333333;
    text-decoration: underline;
}

.outils{
    margin-bottom: 30px
}



.section4{
    height:50vh;
}

.don_button{
    width: 30vw;
    height: 60px;
    padding: 0;
    font-size: 1.0em;
    color: white;
    font-family: "Montserrat";
    text-align: center;
    background: #3fa9f5;
    border: 0;
    border-radius: 4px 4px 4px 4px;
    margin:auto;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}

.don_button p{
    line-height: 60px;
}


.section5{
    background-color:#3498db;
    color:#ffffff;
    height:70vh;
}

.section5 label{
    font-family:'Montserrat';
}

.form_insight{
    border-radius: 2px;
    -webkit-box-shadow: -1px 2px 0px 0px #194b6c;
    -moz-box-shadow: -1px 2px 0px 0px #194b6c;
    box-shadow: -1px 2px 0px 0px #194b6c;
    border:none;
    margin-bottom:10px;
    font-family: "Montserrat";
}



.bouton_insight{
    width: 10vw;
    height: 60px;
    padding: 0;
    font-size: 1.0em;
    color: white;
    font-family: "Montserrat";
    text-align: center;
    background: #2ecc71;
    border: 0;
    margin:auto;
    border-radius: 4px 4px 4px 4px;
    border-bottom: 2px solid #27ae60;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #27ae60;
    box-shadow: inset 0 -2px #27ae60;
    position:block;
}

.bouton_insight p{
    line-height:58px;
}

.menuMobile:select{
    background-color:#ffffff;
    color:#333333;
}

.mobile{
    display:none;
}





.EnSavoirPlusBesoinVital,
.EnSavoirPlusRetourXp,
.EnSavoirPlusNouvelleUnite
{
    cursor: pointer;
    font-weight: bold;
}

.section6{
    height:50vh;
}

.logosSoutiens{
    display:flex;
}

.logosSoutiens a{
    margin:auto;
}

.logosSoutiens a > img{
    height:200px;
}


@media screen and (max-width: 800px ) {
    
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        height:90px;
    }
    .logoHeader{
        padding-top:5px;
        padding-left:0px;
    }
    .logoHeader img{
        height:80px;
    }
    
    #releaseMenu img {
        height:40px;
        float:left;
        margin-top:25px;
        margin-left:20px;
    }
    
    .menuMobile{
        height:auto;
        z-index: 10000;
        margin-top:90px;
        display: flex;
        flex-direction: column;
        padding:0px;
        font-family: "Montserrat";
        position: fixed;
         background-color:#333333;
    }

    .menuMobile a{
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
       
    }
    .video{
        margin-top:20px;
        padding:0px;
        margin-left:0px;
        width:100%;
    }
    
    iframe{
        border-radius:4px;
        width:100%;
        height:250px;
    }
    
    .titreVideo h3{
        color:#333333;
        margin-top:0px;
        font-size:0.8em;
    }

    .titreSection1{
        width:100%;
        border-bottom:1px solid #333333;
        margin:auto;
    }

    .titreSection1 h2{
        text-align:center;
        font-family:'Pacifico';
    }
    
    .section6{
        height:25vh;
    }
    .logosSoutiens a > img{
        height:100px;
    }
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_6.gif) center no-repeat #fff;
}